.instrument-picture {
  background-image: image-url('no_user_image.png');
  background-size: cover;
  width: 150px;
  margin: 10px 10px;
  border-radius: 2px;
}


.booking-form {
  background-color: white;
  width: 150px;
  margin: 10px 10px;
}


.instrument-details {
  background-color: white;
  width: 100%;
}
