<div class="banner">
  <div class="picture">
    <div class="topic">
      <h1>Welcome</h1>
      <h3>Rent an instrument</h3>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="searchbar">
        <%= render 'shared/search' %>
      </div>
    </div>
  </div>
</div>

<div class="container home-welcome-text">
  <div class="row d-flex justify-content-center">
    <div class="welcome-text col-md-auto">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, labore molestias quo adipisci aliquid blanditiis, est deserunt facilis iste debitis quod veritatis quidem nisi sint accusantium animi rem quia nihil.</p>
    </div>
  </div>
</div>
